%bg-center-contain-nr {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

%bg-center-cover-nr {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%bg-center-halfsize-nr {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}