
// Body
$body-bg: #f8fafc;

// Typography
$main-font: 'Asap', sans-serif;
$secondary-font: 'acremedium';


$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors

// Primary colors
// $primary1: #3EAF01;
$primary1: #3A823E;
$primary2: #74C946;
$primary3: #9AE181;
$primary4: #e3e3e3;
$primary5: #FBC021;

$cream: #F6F6F6;
$white: #fff;
$gray: #A8A8A8;
$gray1: #898989;
$lighter-gray: #989898;
$lightest-gray: #F6F6F6;
$black: #444444;

	